body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #013697;
  color: white;
  padding: 2rem;
  text-align: center;
}

.btn {
  background: white;
  color: #008080;
  padding: 0.7rem 1.2rem;
  text-decoration: none;
  border-radius: 5px;
}

.form-container {
  max-width: 400px;
  margin: 4rem auto;
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, textarea {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #008080;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.posts {
  max-width: 600px;
  margin: 2rem auto;
}

.post {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}
